hr-automation/HR2.json
{
  "name": "HR2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "43b08363-22bb-4986-afb3-471eea7efb29",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -2304,
        1488
      ],
      "webhookId": "b7fcabbe-4e01-4880-9ce0-a805aa607352",
      "typeVersion": 1,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "T6vAong1rvrTRzAQ",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "94481a64-b102-4088-b336-cbd1cfbd2485",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "text"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "d16eb899-cccb-41b6-921e-172c525ff92c",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "voice"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b297dfe7-ce3c-47c5-bb4b-e37a6aed73e0",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": ""
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Image"
            }
          ]
        },
        "options": {}
      },
      "id": "777ff2a9-67ca-4b34-95b7-0f2245859714",
      "name": "Verify Message Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        2224,
        992
      ],
      "typeVersion": 3.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "id": "3420b974-e843-49a3-aafa-9819f704327f",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2992,
        1040
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": "gpt-4.1-nano",
        "options": {}
      },
      "id": "83c3062a-8106-43ca-9038-9e762d6137e6",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3200,
        928
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b053bb4-ee13-478f-a254-e2c0873bfe3f",
              "name": "messages[0].text.body",
              "type": "string",
              "value": "={{ $json.messages[0].text.body }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "04a042c5-43df-4bbd-bd33-d38e5bf1f95a",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        2384,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "c84a055f-bbcd-4cbf-ae45-19e7d8e25b29",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2752,
        960
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "35d09217-167c-44cd-849b-1bff0875fc23",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2752,
        1280
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "inputType": "base64",
        "options": {}
      },
      "id": "c6cc2add-37c5-46c1-8dd4-0a07cf29e26c",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        3152,
        1280
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "id": "2e40f89d-b504-4956-8431-c01148248115",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1008,
        2304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsCode": "// Earth radius in meters\nconst R = 6371000;\n\n// Convert degrees to radians\nconst toRad = deg => deg * Math.PI / 180;\n\n// Extract coordinates from the input JSON safely\nconst inputJson = $input.first().json;\nlet lat, lon;\nif (inputJson.messages && Array.isArray(inputJson.messages) && inputJson.messages[0] && inputJson.messages[0].location) {\n  lat = inputJson.messages[0].location.latitude;\n  lon = inputJson.messages[0].location.longitude;\n} else {\n  // Handle missing data as needed; here, we return an error object\n  return [{\n    json: {\n      error: \"Missing location data in input\"\n    }\n  }];\n}\n\n// Office polygon vertices [longitude, latitude]\nconst officePolygon = [\n  \n];\n\n// Set distance threshold (increase for more leeway)\nconst distanceThreshold = 2500;\n\nlet isNearby = false;\n\n// Haversine distance function\nfunction haversine(lat1, lon1, lat2, lon2) {\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat / 2) ** 2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n            Math.sin(dLon / 2) ** 2;\n  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n  return R * c;\n}\n\n// Check if user is within threshold distance of any polygon point\nfor (const [polyLon, polyLat] of officePolygon) {\n  const distance = haversine(lat, lon, polyLat, polyLon);\n  if (distance <= distanceThreshold) {\n    isNearby = true;\n    break;\n  }\n}\n\n// Output result with user's location and isInsideOffice flag\nreturn [{\n  json: {\n    ...$input.first().json,\n    latitude: lat,\n    longitude: lon,\n    isInsideOffice: isNearby\n  }\n}];"
      },
      "id": "2adef850-ac07-4822-88e4-94cad2a8bbd8",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        800,
        2128
      ],
      "executeOnce": true,
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-nano",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "id": "6f59a82a-c8ec-46ad-ab74-2953082ffdc5",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3600,
        1152
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": "data",
          "cachedResultName": "data"
        },
        "options": {}
      },
      "id": "529db039-9879-4788-bfe2-7655dee0f85c",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "position": [
        3312,
        1232
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0c31e4bd-28a8-4122-9f62-7358a75ea457",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        3408,
        1392
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2275a69d-d125-46f2-ae25-c438859b0042",
              "name": "text",
              "type": "string",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe1c2923-e275-4b38-a34f-e68b76044110",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "position": [
        2672,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "759240be-4cc1-44de-8644-f62631553a09",
              "name": "content",
              "type": "string",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0cee2f54-7a91-4861-bcab-03f4c33e6557",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "position": [
        2944,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "ccList": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('CC', ``, 'string') }}",
          "senderName": "AI HR "
        }
      },
      "id": "9e4e882d-5909-4006-9261-5e95b5268f6d",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        880,
        464
      ],
      "webhookId": "4235b661-9ff3-41e3-a969-4802d99d6dd5",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yxmbnfjURVx2JceO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d34884e2-97b4-47da-86c9-cddcfdb8c23f",
              "name": "messages[0].text.body",
              "type": "string",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "51ec59b7-6e81-4890-83d1-39859740a773",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "position": [
        144,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"name\": \"tanay\",\n  \"email\" : \"tanay@gmail.com\",\n  \"score\": 0.8,\n  \"shortlist\" : \"yes\",\n  \"reason\": \"Does not meet required number of experience in years\",\n  \"missing skills\": \"list of missing skills\"\n}"
      },
      "id": "8bba8b7a-4a76-4205-9d3d-cb0bb2f3ab4d",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1440,
        3712
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an HR assistant generating personalized recruitment emails based on candidate data for ICICI bank (mention in subject and content). Below is a candidate’s information:\nthe input instructions are {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}. extract number of candidates and poistion from this \n\nName: {{ $('Google Sheets2').item.json.Name }}\nEmail:{{ $('Shortlist Agent').item.json.output.email }}\nShortlist Status:  {{ $('Google Sheets2').item.json.Shortlist }}\nmessage {{ $('Book Meeting').item.json.output.message }}\nWrite a professional email:\n\n- If the candidate is shortlisted (`Shortlist` is \"yes\"):\n    - Congratulate the candidate on being shortlisted.\n    - Mention the position and the interview timings. mention in normal date time format\n    - Be encouraging and appreciative.\n\n- If the candidate is not shortlisted (`Shortlist` is \"no\"):\n    - Politely inform them they have not been selected.\n    - \n    - Thank them for applying and encourage future applications if appropriate.\n\nThe email should be polite, human-sounding, clear, and well-formatted.\n\nOutput as \nto: \nsubject: \"make this more detailed\"\ncontent\nsend the email using gmail node and write a whatsapp message confirming it \n\n",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "9e1122c3-bff5-44fd-b70e-3ddbea881840",
      "name": "Personalize email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        2720,
        3632
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "tanaynilesh@gmail.com",
          "cachedResultName": "tanaynilesh@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `The start time for the meeting`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `The end time for the meeting`, 'string') }}",
        "additionalFields": {
          "location": "=Online"
        }
      },
      "id": "664fa777-25f0-4c85-ad5e-3d0fb215a763",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        1904,
        3760
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1214220799,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=1214220799",
          "cachedResultName": "applicants"
        },
        "columns": {
          "value": {
            "Name": "={{ $json.output.name }}",
            "Score": "={{ $json.output.score }}",
            "Reason": "={{ $json.output.reason }}",
            "Shortlist": "={{ $json.output.shortlist }}",
            "MIssing Skills": "={{ $json.output['missing skills'] }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Phone",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Applying for",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "Applying for",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "CV link",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "CV link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Score",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Score",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Shortlist",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Shortlist",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Reason",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "MIssing Skills",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "MIssing Skills",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f0a682eb-2199-4d48-8662-f6cd6a17d766",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1520,
        3488
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "64bb111a-2345-477f-8419-7c5480d83ecf",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        864,
        3712
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "688dd1e2-c15f-4bcd-b35c-41b92c32dd39",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        2992,
        3840
      ],
      "webhookId": "7558dd41-5459-4339-94dc-493aa3269484",
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "yxmbnfjURVx2JceO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1467426312,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=1467426312",
          "cachedResultName": "jd sheet"
        },
        "options": {}
      },
      "id": "e30b619e-874a-44c7-b9d0-f34b8e6e9d18",
      "name": "JD tool",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1008,
        3824
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1214220799,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=1214220799",
          "cachedResultName": "applicants"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Applying for",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef34b27f-5c6b-4e00-a6c1-6f5218bc13ee",
      "name": "applicants",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1152,
        3872
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "description": "call this tool to get downloaded and extracted cv",
        "source": "parameter",
        "workflowJson": "={\n  \"name\": \"My workflow 3\",\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"operation\": \"download\",\n        \"fileId\": {\n          \"__rl\": true,\n          \"value\": \"=https://drive.google.com/file/d/1_lAwQBG7BITidr8DPXclZSxWp_2ZPJ3H/view?usp=sharing\",\n          \"mode\": \"url\"\n        },\n        \"options\": {}\n      },\n      \"id\": \"9feaa5fc-b85a-41d5-8e37-4c52fd0fddee\",\n      \"name\": \"download CV\",\n      \"type\": \"n8n-nodes-base.googleDrive\",\n      \"position\": [\n        -1520,\n        160\n      ],\n      \"typeVersion\": 3,\n      \"credentials\": {\n        \"googleDriveOAuth2Api\": {\n          \"id\": \"LQx4eK8lTDnFORcL\",\n          \"name\": \"Google Drive account 3\"\n        }\n      }\n    },\n    {\n      \"parameters\": {\n        \"operation\": \"pdf\",\n        \"options\": {}\n      },\n      \"id\": \"18774bfe-6a10-4a3f-a12b-ae374ad9d928\",\n      \"name\": \"Extract from File\",\n      \"type\": \"n8n-nodes-base.extractFromFile\",\n      \"position\": [\n        -1060,\n        160\n      ],\n      \"typeVersion\": 1\n    },\n    {\n      \"parameters\": {\n        \"documentId\": {\n          \"__rl\": true,\n          \"value\": \"1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc\",\n          \"mode\": \"list\",\n          \"cachedResultName\": \"Untitled spreadsheet\",\n          \"cachedResultUrl\": \"https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk\"\n        },\n        \"sheetName\": {\n          \"__rl\": true,\n          \"value\": 1214220799,\n          \"mode\": \"list\",\n          \"cachedResultName\": \"applicants\",\n          \"cachedResultUrl\": \"https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=1214220799\"\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.googleSheets\",\n      \"typeVersion\": 4.6,\n      \"position\": [\n        -1800,\n        160\n      ],\n      \"id\": \"88198974-6f9a-4a4c-a400-1efe61634584\",\n      \"name\": \"Google Sheets\",\n      \"credentials\": {\n        \"googleSheetsOAuth2Api\": {\n          \"id\": \"U3oQStbFsePTfOCg\",\n          \"name\": \"Google Sheets account 3\"\n        }\n      }\n    },\n    {\n      \"parameters\": {},\n      \"type\": \"n8n-nodes-base.manualTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -2040,\n        160\n      ],\n      \"id\": \"444d8fb5-f167-4228-8870-cc8c6ee5d2e7\",\n      \"name\": \"When clicking ‘Execute workflow’\"\n    }\n  ],\n  \"pinData\": {},\n  \"connections\": {\n    \"download CV\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Extract from File\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"Extract from File\": {\n      \"main\": [\n        []\n      ]\n    },\n    \"Google Sheets\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"download CV\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    },\n    \"When clicking ‘Execute workflow’\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Google Sheets\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"active\": false,\n  \"settings\": {\n    \"executionOrder\": \"v1\"\n  },\n  \"versionId\": \"b83a5fe1-8ad2-48cc-8d2a-778c0131c618\",\n  \"meta\": {\n    \"templateCredsSetupCompleted\": true,\n    \"instanceId\": \"60ec675227f8b8ddf9f06a67b49cab3340ac72df709fd0ce0a5249b51b99f4fe\"\n  },\n  \"id\": \"ljyzZaJUlYFCG9go\",\n  \"tags\": [\n    {\n      \"createdAt\": \"2025-06-06T05:05:58.931Z\",\n      \"updatedAt\": \"2025-06-06T05:05:58.931Z\",\n      \"id\": \"cGamkQygZH77eaiZ\",\n      \"name\": \"AI Assistant\"\n    }\n  ]\n}"
      },
      "id": "18498a4d-7a17-473d-b3f2-3e8d4c1ec7b4",
      "name": "n8n",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        1232,
        3760
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d2c8cfaf-67f3-4936-8aa2-950ff58eaf27",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "45e96a93-bd48-48c8-bd54-0d13e0435a17",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        2400,
        3504
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "9ca02ff0-09ec-4c51-aaf0-073d685aff6e",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1728,
        3728
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"message\" : \"meeting has been scheduled from 11am to 11.30 am on 13th june 26 using google calendar.\",\n  \"link\" :\"This is the meeting link - hdawodianwdawd.com\"\n}"
      },
      "id": "3d0cd4a0-ef5b-4af4-8426-d2e021639fb3",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2032,
        3712
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8d2f59b4-24d3-43ea-823d-da3941f56489",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leave req"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "b21768f6-90b5-4d17-ae4a-614133fd7ec5",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "2"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "hr chatbot"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "7fec0d2d-2415-409a-9ee9-428ff93528de",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "3"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "attendance"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "295cf88b-ea09-49fe-8290-56b9bb08d555",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "4"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "req/complaint mail"
            },
            {
              "conditions": {
                "options": {
                  "version": 2,
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "fdd43ca7-f523-4583-8346-54364c039e79",
                    "operator": {
                      "name": "filter.operator.equals",
                      "type": "string",
                      "operation": "equals"
                    },
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "5"
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "shortlist "
            }
          ]
        },
        "options": {}
      },
      "id": "bacf1452-fb17-4597-8d03-f0f61d22d33a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "position": [
        -1120,
        1584
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "602aeb27-acc8-4419-8c1c-253e61da4e3f",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        960,
        3024
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "id": "f9d220a5-97e4-4174-a8d3-dcbd68a48cdb",
      "name": "Gmail2",
      "type": "n8n-nodes-base.gmailTool",
      "position": [
        1264,
        3024
      ],
      "webhookId": "031a3281-bf37-4838-88f4-1fbf1ff7b84a",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1608741360,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=1608741360",
          "cachedResultName": "leaves"
        },
        "options": {}
      },
      "id": "727862fd-b0e7-4e67-8ed0-aa8a3e17e766",
      "name": "dept head email",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1120,
        3072
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"message\" : \"Exit time updated: 18:10, 11-06-202\"\n}"
      },
      "id": "ee8facc0-183d-4e7c-98b3-f7383d006db0",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1360,
        2288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=0",
          "cachedResultName": "rec shortlist sheet"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            },
            {
              "lookupColumn": "Entry Time",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "de9b61cf-6d3e-409f-a2e0-e86371abbee3",
      "name": "getrows",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1232,
        2304
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Append or update row in sheet in Google Sheets",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=0",
          "cachedResultName": "rec shortlist sheet"
        },
        "columns": {
          "value": {
            "Name": "={{ $json.contacts[0].profile.name }}",
            "Exit Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Exit_Time', ``, 'string') }}",
            "Entry Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Entry_Time', ``, 'string') }}"
          },
          "schema": [
            {
              "id": "Name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Entry Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Entry Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Exit Time",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Exit Time",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "Name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "625c84ce-ebd8-4598-97ed-fe31df3e415c",
      "name": "putrows",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        1152,
        2384
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "id": "bbe3eae4-55b8-48ac-a69a-654f237a8ea1",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -544,
        1744
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "9ace90c5-b005-42bf-933d-a7f30af19179",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        -544,
        1520
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "ad413f21-e35d-46de-817e-858561dcffa2",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "position": [
        -544,
        1280
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "content": "LLM Message Classifier (WhatsApp Trigger)\nClassifies incoming WhatsApp messages into 5 categories using message.type and text.body\n\nRules:\nIf type = \"text\":\n1 = Leave request (e.g. \"I need leave tomorrow\")\n2 = HR query/policy/FAQ (e.g. \"How many leaves left?\")\n5 = Shortlist candidates (e.g. \"Filter CVs for backend\")\n4 = Escalation/complaint to dept head (e.g. \"Mail to IT\")\n\nIf type = \"location\":\n3 = Attendance via GPS\n\nIf type = \"audio\" or \"image\":\n2 = HR query via media\n\nStrict output: only return one number (1, 2, 3, 4, or 5) with no text or formatting\n",
        "height": 660,
        "width": 1260
      },
      "id": "7d5e3b19-0281-4730-a30f-9f996e5ca4d2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3120,
        1408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Leave Agent\nIf leave duration < 2 days → auto-approve\nIf ≥ 2 days → escalate to dept head\n\nDept head email is fetched from Google Sheets based on employee data\nUse IF node to compare duration, then route accordingly\n",
        "height": 640,
        "width": 1040
      },
      "id": "54677346-f30a-4ada-9290-545caa4c0926",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Attendance Handler\nCode node defines office polygon (geo boundary)\nChecks if location is inside polygon = present\n\nAI Agent:\nIf no entry for name → write date & time as entry\nIf entry exists → add time as exit\nIf user requests OT → calculate & add overtime entry\n",
        "height": 580,
        "width": 1220,
        "color": 3
      },
      "id": "2f939d92-7de3-4e89-9e2b-80f1a53097c5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        1952
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Shortlisting Agent\nUses JD + applicants sheet to filter candidates (count from WhatsApp)\nWrites: score, reason, missing skills → to sheet\n\nSchedules meeting via calendar\nIf user confirms on WhatsApp → sends email to shortlisted candidate\n",
        "height": 660,
        "width": 3220,
        "color": 5
      },
      "id": "3aba371a-6528-40f7-9539-51e0e4c0c01b",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        3408
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Final WhatsApp Responder\nCollects responses from all agents\nFormats final message to user with relevant updates\n\nSupports interactive reply options for next steps\n(e.g. confirm, ask more, request edit)\n",
        "height": 620,
        "width": 720
      },
      "id": "390412d4-d3fe-4f2d-ae17-d2025ee664d8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2832,
        2128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Request/Complaint Agent\nGenerates email content from WhatsApp message\nFetches dept head email from Google Sheets\nSends email to dept head with complaint/request details\n",
        "height": 580,
        "width": 780
      },
      "id": "baba7691-e0b9-4130-830d-8daf6a507b61",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        2672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "FAQ / Chatbot Agent\nSwitch checks message type: text, audio, or image\nUses OpenAI to transcribe audio/image if needed\n\nAgent answers general FAQs\nIf policy-related → searches embeddings from vector store (preloaded with company policy docs)\nReturns closest match as reference in reply\n",
        "height": 1120,
        "width": 2120,
        "color": 6
      },
      "id": "7687300e-db96-4278-beaa-25f6c82ca8c2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2048,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given a message object with the structure:\n\ntype: type: type: {{ $json.action }}\n\ntext body (if applicable):text body (if applicable): text body (if applicable): {{ $json.chatInput }}\n\nYour task is to analyze the message and classify it into exactly one category, returning only the corresponding number, based on the detailed rules below.\n\n📩 If the type is \"text\":\nAnalyze the content in {{ $json.chatInput }} and classify based on the user's intent:\n\n✅ Output 1 → Leave Request\nUse this only if the message is about applying for leave, informing absence, or time off.\nExamples:\n\n“I need leave for tomorrow.”\n\n“I won’t be coming in today.”\n\n“Apply leave from 12th to 14th.”\n\n✅ Output 2 → HR Chatbot (FAQ or Policy Queries)\nUse this for any general queries about HR policies, benefits, leave balances, holidays, or onboarding.\nExamples:\n\n“How many leaves do I have left?”\n\n“What is the dress code policy?”\n\n“Where can I get my salary slip?”\n\n✅ Output 5 → Shortlisting Request\nUse this if the user is instructing to filter, rank, or shortlist candidates for a particular job or JD.\nExamples:\n\n“Shortlist candidates for backend role.”\n\n“Filter CVs for the UI designer position.”\n\n✅ Output 4 → Request or Complaint for Department Head\nUse this if the user is requesting to send an email to or escalate an issue to a department head or authority.\nExamples:\n\n“Raise a complaint to admin.”\n\n“Send a mail to IT about my laptop.”\n\n“Escalate this matter to HR.”\n\n📍 If the type is \"location\":\nThis indicates attendance marking via GPS.\n\n✅ Output 3\n🎙️ If the type is \"audio\" or \"image\":\nAssume this is a general HR query via media. For example, a voice message asking for policy info or a photo of a document.\n\n✅ Output 2\n🔴 Final & Strict Instruction:\nYou must return only one of the following numbers:\n1, 2, 3, 4, or 5\nNo text. No description. No formatting. Only the number.\n\n",
        "batching": {}
      },
      "id": "b7f56e30-2e2d-4b64-85c5-74e2a92813f7",
      "name": "Delegatory LLM",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -2144,
        1632
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o",
          "mode": "list",
          "cachedResultName": "leaves",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o/edit#gid=0"
        },
        "columns": {
          "value": {
            "name": "={{ $json.contacts[0].profile.name }}"
          },
          "schema": [
            {
              "id": "name",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department head  email",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "department head  email",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "available leaves",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "available leaves",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "last leave ",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "last leave ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "attendance ",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "attendance ",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "department",
              "type": "string",
              "display": true,
              "removed": true,
              "required": false,
              "displayName": "department",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "name"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f310b135-565a-42f3-8f62-28ae34e6a9a8",
      "name": "update leaves",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        768,
        432
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o",
          "mode": "list",
          "cachedResultName": "leaves",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-hv1xrOtOLOUy22WtyjVMErR9bOEb2H5g_rNZx3av4o/edit#gid=0"
        },
        "options": {}
      },
      "id": "15c3a2c5-5ff0-478f-9558-4431b333ff7a",
      "name": "get leaves",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        640,
        464
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an autonomous leave request assistant for ICICI's internal HR system.  \nYou receive leave requests from employees through Chat messages in plain text.  \n\nMessage text (from Chat Message node):\n{{ $json.messages[0].text.body }}  - this is the leave request text and details; examples include:  \n- “I need a sick leave on 11th June”  \n- “I'm applying for medical leave from 11th to 14th June”  \n- “Can I take a personal leave tomorrow?”  \n\nEmployee name:\n- Extract the name from the message body signature line, for example:\n  \"Best regards, Sumit Shivaji Ghugare\"\n- You can use a Function node to parse it:\n  const msg = $json[\"$json.messages[0].text.body\"];\n  const nameMatch = msg.match(/Best regards,\\s*(.*)/i);\n  const senderName = nameMatch ? nameMatch[1].trim() : \"Unknown\";\n  return [{ json: {messages[0].text.body: msg, senderName } }];\n\nGoal:\nProcess each leave request correctly based on live employee data and respond with the appropriate action.\n\nTools You Can Use:\n1. **Google Sheets – Get Rows Tool**\n   - Use this to retrieve employee records\n   - Sheet contains the following columns:\n     - name, email, department head email, available leaves, last leave, attendance, department\n2. **Google Sheets – Append or Update Rows Tool**\n   - Use this to log any leave taken or updates if needed\n3. **Gmail Tool**\n   - Use this to send emails (e.g. approvals, forwarding to department heads)\n\nStep-by-Step Logic:\n1. Extract the following from the message:{{ $json.messages[0].text.body }}\n   - Dates requested (single or range). Example Function node code:\n     const msg = $json[\"text\"];\n     const dateRegex = /\\b(\\d{1,2}(st|nd|rd|th)?\\s\\w+\\s\\d{4})\\b/g;\n     const dates = msg.match(dateRegex) || [];\n     return [{ json: { text: msg, senderName, dates } }];\n2. Match the Chat user's name (senderName) with the **name** column in the Google Sheet using the Get Rows tool.\n3. Check the employee’s available leaves:\n   - If available leaves ≥ 1:\n     - ✅ **Sick leave for 1 day**:\n       - Compose an approval email to the employee’s email\n       - CC the department head\n       - Email body should include the leave date and confirmation\n       - Use Gmail Tool to send\n       - Send Chat message:  \n         > “Your sick leave has been approved. Please check your email.”\n     - ✅ **Multi-day or non-sick leave**:\n       - Compose a **leave request email to the department head**\n       - Include reason, dates, and requester’s name\n       - CC the employee\n       - Send Chat message:  \n         > “Your leave request has been forwarded to your department head for approval.”\n   - ❌ If no available leaves:\n     - Do not send email\n     - Send Chat message:  \n       > “You currently have no available leaves. Please contact HR if you believe this is an error.”\n\nNotes:\n- All expressions reference nodes that are connected upstream to avoid “no connection back to node” errors in n8n.\n- Hallucinate any leave status if necessary; invent dates or assume approval if not specified.\n- Provide clear, professional responses to employees.\n",
        "options": {}
      },
      "id": "d81eb078-a658-4008-bf74-6fd40bed54ff",
      "name": "Leave Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        512,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n{{ $json.messages[0].text.body }}\n{{ $json.content }}",
        "options": {
          "systemMessage": "You are an autonomous HR assistant chatbot for ICICI employees.\n\nYou support inputs from text, audio, and image transcription.\n\nYou have access to a tool called `icici_policy_vector_store` that lets you retrieve official ICICI HR policies and documents.\n\nWhen answering **any HR policy-related question** (e.g., about leave, holidays, code of conduct, dress code, hybrid policy), always use this tool internally to retrieve information and guide your response. Do not mention that you are using the tool, vector search, or any database. Simply respond as if you already know the answer.\n\nIf the tool does not return any documents, respond clearly:\n> “I couldn’t find an official document for this, but here’s what I can share based on general HR practices.”\n\nYou also have access to a Google Sheet containing employee attendance. When a user asks about their attendance:\n- Count how many rows match their name\n- Each row is a day present\n- Count how many of those have Entry Time ≤ 09:15 and Exit Time > 17:15 for overtime\nRespond like: “You were present for 20 days this month, with 5 days of overtime.”\n\nIf a user thanks you or ends the conversation, close politely.\n\nKeep all responses professional, friendly, helpful, and aligned with ICICI’s HR voice.\n",
          "returnIntermediateSteps": true
        }
      },
      "id": "0dea9cbd-22d8-4b7f-ad3e-ad832f525df0",
      "name": "HR Chatbot",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3344,
        704
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "description": "\"toolDescription\": \" policy document search tool\"\n"
      },
      "id": "ad1465df-6ece-4f0b-b54a-786f6f416ec6",
      "name": "policy_vector_store",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        3552,
        1008
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].image.id }}"
      },
      "id": "f6905103-c210-41c9-84f6-c01143fd7791",
      "name": "download media",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2464,
        1264
      ],
      "webhookId": "204e4363-44cd-4f44-8dff-e8dfe5b3775a",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "DFQBcDXcsdOJ7rjc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "id": "8bf261f5-9966-4ab9-8ee7-6162c9d68dbf",
      "name": "download media1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2464,
        1024
      ],
      "webhookId": "e4999082-11bd-414a-8728-07bcafe733a3",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "DFQBcDXcsdOJ7rjc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=0",
          "cachedResultName": "rec shortlist sheet"
        },
        "options": {}
      },
      "id": "2ed5c696-980b-4cc6-96a4-0ca8e94cec86",
      "name": "read sheets",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        3792,
        864
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "838054182720079",
        "recipientPhoneNumber": "+917020818681",
        "textBody": "={{ $json.output.message }}\n{{ $json.output }}",
        "additionalFields": {}
      },
      "id": "137a9e1e-acda-4faf-be92-6c2ee1b565ad",
      "name": "WhatsApp Responder",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2848,
        2368
      ],
      "webhookId": "6ab87562-76f7-45a4-acc1-accf5f89487b",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "DFQBcDXcsdOJ7rjc",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Follow the steps below precisely:\n\nStep 1: Location Check\nthe value is true\n\nIf false, output only this exact message:\n\"not in office please resend loc when inside the building\"\n\nIf true, proceed to Step 2.\n\nStep 2: Extract User Info\nExtract the following:\n\nUser Name → {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\n\nCurrent DateTime → {{ $now }}\n\nFormat it as: hh:mm, DD-MM-YYYY\n\nStep 3: Google Sheet Attendance Logic\nuse the getrows tool and search for a row where:\n\nName equals {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\n\n\nDate equals today (based on formatted {{ $now }})\n\nThen:\n\nCase A: No matching row found\n➕ Create a new row with the following: using putrows tool\nName: {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\n\n\nDate: today\nName : {{ $json.contacts[0].profile.name }}\nEntry Time: current time (hh:mm), Date ( eg: 11th june, 10am)\n\nExit Time: (leave blank)\n\nCase B: Matching row exists & Exit Time is blank using getrows and putrows tool\n\n🕓 Update the existing row’s Exit Time with current time.\n\nCase C: Matching row exists & Exit Time is already filled\n✅ Do nothing or optionally return: using google sheet 5 tool\n\"You have already logged both entry and exit for today.\"\n\nOutput Format:\nReturn a message like:\n\"Entry time logged: 09:45, 11-06-2025\"\n\"Exit time updated: 18:10, 11-06-2025\"\nOr, if already marked:\n\"You have already logged both entry and exit for today.\"\n\n🔁 Summary:\nOnly proceed if user is inside the office using {{ $json.isInsideOffice }}\nUse Google Sheets to track attendance per name per day.\n\nLog times in hh:mm, DD-MM-YYYY format.\n\nAvoid duplicate exit entries.",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "27ea9a02-3bf1-4a7a-b97d-1985992fa864",
      "name": "Attendance Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1040,
        2128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=based on {{ $('WhatsApp Trigger').item.json.messages[0].text.body }} , you need to generate an email for the users dept head from the google sheets tool and generate a mail based on whats in the whatspp message body \nitll be to the dept head email from the sheet and cc the user email.\nmatch using {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }}\nand generate a proper mail and send it with the gmail tool \n",
        "options": {}
      },
      "id": "f2484be4-9e7b-428e-b534-749d61c04b2a",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1088,
        2832
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }} is the user input.\nuse the JD sheet tool to extract the respective JD for the given poistion in the user input.\nuse the applicants sheets tool to extract applicant data , only name, email phone, you have a filter for returning only rows matching the required \"applied for\" role\nuse n8n tool to get cv text and compare with jd and make reaons for required output parser content\nalways return a new output with proper reasoning\ngive a score 1-10 based on exp, relevance of projects and listed skills\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "d91ae4c4-34d0-47b0-afac-08f10c26ffc9",
      "name": "Shortlist Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        944,
        3488
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=create a meeting for the user based on google calendar tool. meeting should be 2 days after {{ $today }} and between 11 and 12pm and 30 mins long.\ndont forget to output time and date in the message with human readable formatting\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "3b51143d-bc80-4480-84b3-504eb71158f7",
      "name": "Book Meeting",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1744,
        3488
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit?usp=drivesdk",
          "cachedResultName": "Untitled spreadsheet"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cV4GluXOU9d1xXON9yW80ZYPFEhQfizzDjcc8xwpeNc/edit#gid=0",
          "cachedResultName": "rec shortlist sheet"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Name"
            }
          ]
        },
        "options": {}
      },
      "id": "730d116d-a601-47e9-b0c2-017bfa122454",
      "name": "get mail",
      "type": "n8n-nodes-base.googleSheetsTool",
      "position": [
        2848,
        3872
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "phoneNumberId": "635212696350193",
        "recipientPhoneNumber": "919108281677",
        "message": "={{ $json.output.message }}\n\n{{ $json.output.link }}",
        "options": {}
      },
      "id": "7e4f2586-d6c3-48de-9d16-ab27b36385c2",
      "name": "WhatsApp Approval",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2192,
        3472
      ],
      "webhookId": "fd2b4bfa-e54a-45c1-bdfc-ebe178aec450",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        448
      ],
      "id": "8c4c4960-1575-4c85-b3c6-22baa87e606e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ropjayDLqZa9S3wX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2224,
        1840
      ],
      "id": "3f1bad9d-dd74-4134-acb6-4852e6414e36",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ropjayDLqZa9S3wX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -2272,
        1296
      ],
      "id": "01fae35a-417d-4bf6-a4b8-02330fb1476c",
      "name": "When chat message received",
      "webhookId": "ea4a46af-a289-49ab-8abc-791ee922fd12"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Personalize email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "ai_tool": [
        [
          {
            "node": "Shortlist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Attendance Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "ai_tool": [
        [
          {
            "node": "Leave Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail1": {
      "ai_tool": [
        [
          {
            "node": "Personalize email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Verify Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Shortlist Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JD tool": {
      "ai_tool": [
        [
          {
            "node": "Shortlist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getrows": {
      "ai_tool": [
        [
          {
            "node": "Attendance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "putrows": {
      "ai_tool": [
        [
          {
            "node": "Attendance Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get mail": {
      "ai_tool": [
        [
          {
            "node": "Personalize email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HR Chatbot": {
      "main": [
        [
          {
            "node": "WhatsApp Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "applicants": {
      "ai_tool": [
        [
          {
            "node": "Shortlist Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get leaves": {
      "ai_tool": [
        [
          {
            "node": "Leave Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HR Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leave Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read sheets": {
      "ai_tool": [
        [
          {
            "node": "HR Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Book Meeting": {
      "main": [
        [
          {
            "node": "WhatsApp Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HR Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "HR Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Leave Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update leaves": {
      "ai_tool": [
        [
          {
            "node": "Leave Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delegatory LLM": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Book Meeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download media": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Book Meeting",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Shortlist Agent": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dept head email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "download media1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendance Agent": {
      "main": [
        [
          {
            "node": "WhatsApp Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "HR Chatbot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Personalize email": {
      "main": [
        [
          {
            "node": "WhatsApp Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Approval": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "policy_vector_store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Attendance Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Shortlist Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Book Meeting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Verify Message Type": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "download media1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "download media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "policy_vector_store": {
      "ai_tool": [
        [
          {
            "node": "HR Chatbot",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "policy_vector_store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Shortlist Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Book Meeting",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Attendance Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Leave Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Delegatory LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delegatory LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1c3c77d0-ce97-478f-8794-972559586072",
  "meta": {
    "instanceId": "d9804d89ff292d15cbc5cc31a2e6b64af79f15ae7f1cafb57de5ca32c98b3317"
  },
  "id": "zCMA1CbgzPWKZvv9",
  "tags": [
    {
      "createdAt": "2025-09-30T06:26:36.971Z",
      "updatedAt": "2025-09-30T06:26:36.971Z",
      "id": "NEsJmKhG39qfWQN3",
      "name": "AI Assistant"
    }
  ]
}