tata-capital-workflow/Tata.json
{
  "name": "Tata",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1600,
        0
      ],
      "id": "0071d3e7-e8c4-4889-9c0b-dab030eea94e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "a30330dc-1577-46bb-a1ae-e316aa285277",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.extracted_text }} or {{ $json.text }}",
        "options": {
          "systemMessage": "You are an expert financial data extractor. Your task is to read text from financial PDFs (may include tables, bullet points, or paragraphs) and return structured JSON.\n\nOutput Requirements:\n\nExtract the following fields exactly for each row:\nPAN | Borrower Name | CIF/Sanction/Contract | CIF-Project Site | Document Type | Start Date | End Date | Frequency | Remarks | Penalty applicable at | Penalty Description | Penalty Type | Amount Type | Amount Value | Document Applicable At | Support RM Email ID | Non Sales Email ID\n\nRules:\n\nIf a field is missing, leave it blank.\n\nFor multiple penalties, create separate JSON objects (rows) with all top-level info copied in each row.\n\nFrequency must always be in number of months.\n\nRemarks must differ according to the document type (do not reuse same text for all).\n\nSanction letter is not a document type. Don’t write sanction letter in document type column — instead leave it blank.\n\nDocument type must be chosen only from this list and document type may vary differently give all the document types you can find:\n\n1 - Annual Requirement\n2 - Audited Financials\n3 - Audited Financials - Promoter/Sponsor/Guarantor\n4 - Cash Sweep\n5 - Construction Monitoring Report\n6 - Covenant Compliance Certificate - CA/Director\n7 - Credit Rating\n8 - Credit Rating - Promoter\n9 - Escrow Statements\n10 - Financial Covenant Testing\n11 - Generation/ Operational Data\n12 - Half yearly Financials\n13 - Monitoring Condition\n14 - Monitoring Condition 1\n15 - Monitoring Condition 2\n16 - Other Condition - 1\n17 - Other Condition - 2\n18 - Other Condition - 3\n19 - Other Condition - 4\n20 - Put Option\n21 - Quarterly Financials\n22 - Reserve Creation\n\nOutput format:\n\nAlways output a strict JSON array.\n\nEach object corresponds to one row (or one penalty if multiple exist).\n\nPenalty Amount Type is always per month.\n\nNo markdown, no explanations, no extra text. JSON only.\n\nExample JSON Output:\n\n[\n{\n\"PAN\": \"ABCDE1234F\",\n\"Borrower Name\": \"Enerparc Solar Power 10 Private Limited\",\n\"CIF/Sanction/Contract\": \"TCL/24032025/1087\",\n\"CIF-Project Site\": \"Gandarvakottai taluka in Pudukkottai district of Tamil Nadu, India\",\n\"Document Type\": \"Audited Financials\",\n\"Start Date\": \"07-May-2025\",\n\"End Date\": \"31-Mar-2043\",\n\"Frequency\": \"3\",\n\"Remarks\": \"Audited financial results submitted for review as per loan covenants.\",\n\"Penalty applicable at\": \"Defaulted amount\",\n\"Penalty Description\": \"Default in payment of interest and/or principal amounts\",\n\"Penalty Type\": \"per month\",\n\"Amount Type\": \"\",\n\"Amount Value\": \"25000\",\n\"Document Applicable At\": \"Sanction level\",\n\"Support RM Email ID\": \"cleantech@tatacapital.com\n\",\n\"Non Sales Email ID\": \"ethics@tatacapital.com\n\"\n}\n]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        0
      ],
      "id": "e182e773-0ad6-4102-b4d7-b65796c5287f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "// Step 1: Get raw output from previous node\nlet raw = items[0].json.output;\n\n// Step 2: Clean up any extra backticks or whitespace (if the model returns markdown-style JSON)\nraw = raw.replace(/```json\\s*|```/g, \"\").trim();\n\n// Step 3: Parse JSON safely\nlet parsed;\ntry {\n    parsed = JSON.parse(raw);\n} catch (err) {\n    return [{ json: { error: \"Invalid JSON from LLM\", details: err.message, rawOutput: raw } }];\n}\n\n// Step 4: Return each object as a separate n8n item\nreturn parsed.map(obj => ({ json: obj }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "d6e66904-22fe-4d8a-bf0d-1e751095fb90",
      "name": "Code2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f96764e-d029-422f-9ecb-c419df28b5c7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        144,
        352
      ],
      "id": "db159520-5cdb-4893-9016-9e8c5917c5e9",
      "name": "Webhook1",
      "webhookId": "1f96764e-d029-422f-9ecb-c419df28b5c7"
    },
    {
      "parameters": {
        "jsCode": "// Split uploaded binary files into separate items and set a safe binary key\nconst results = [];\nfor (const item of items) {\n  if (!item.binary) continue;\n  for (const key of Object.keys(item.binary)) {\n    const origName = item.binary[key].fileName || key;\n    const safeKey = origName.replace(/\\s+/g, '_');\n    results.push({\n      json: { fileName: safeKey, originalName: origName },\n      binary: { [safeKey]: item.binary[key] },\n    });\n  }\n}\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "f456c368-3e87-41d8-9073-43787671a682",
      "name": "Code5"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        0
      ],
      "id": "1e04449d-1b1e-4af3-91f1-1f0aea381113",
      "name": "When chat message received",
      "webhookId": "b5fc3120-df21-4b64-a936-58a339120d25"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Kj0jA-Qjz_gle3UN947hVzEKDFww4-Jaf3S-WIs0c18",
          "mode": "list",
          "cachedResultName": "Extracted Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kj0jA-Qjz_gle3UN947hVzEKDFww4-Jaf3S-WIs0c18/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Kj0jA-Qjz_gle3UN947hVzEKDFww4-Jaf3S-WIs0c18/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PAN": "={{ $json.PAN }}",
            "Borrower Name": "={{ $json['Borrower Name'] }}",
            "CIF/Sanction/Contract": "={{ $json['CIF/Sanction/Contract'] }}",
            "CIF-Project Site": "={{ $json['CIF-Project Site'] }}",
            "Document Type": "={{ $json['Document Type'] }}",
            "Start Date": "={{ $json['Start Date'] }}",
            "End Date": "={{ $json['End Date'] }}",
            "Frequency": "={{ $json.Frequency }}",
            "Remarks": "={{ $json.Remarks }}",
            "Penalty applicable at": "={{ $json['Penalty applicable at'] }}",
            "Penalty Description": "={{ $json['Penalty Description'] }}",
            "Penalty Type": "={{ $json['Penalty Type'] }}",
            "Amount Type": "={{ $json['Amount Type'] }}",
            "Amount Value": "={{ $json['Amount Value'] }}",
            "Document Applicable At": "={{ $json['Document Applicable At'] }}",
            "Support RM Email ID": "={{ $json['Support RM Email ID'] }}",
            "Non Sales Email ID": "={{ $json['Non Sales Email ID'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "PAN",
              "displayName": "PAN",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Borrower Name",
              "displayName": "Borrower Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CIF/Sanction/Contract",
              "displayName": "CIF/Sanction/Contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CIF-Project Site",
              "displayName": "CIF-Project Site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Type",
              "displayName": "Document Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Frequency",
              "displayName": "Frequency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Remarks",
              "displayName": "Remarks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penalty applicable at",
              "displayName": "Penalty applicable at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penalty Description",
              "displayName": "Penalty Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Penalty Type",
              "displayName": "Penalty Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount Type",
              "displayName": "Amount Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount Value",
              "displayName": "Amount Value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Applicable At",
              "displayName": "Document Applicable At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Support RM Email ID",
              "displayName": "Support RM Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Non Sales Email ID",
              "displayName": "Non Sales Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1392,
        0
      ],
      "id": "6b8fa671-e30e-4750-aa51-c7417f258f7b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Bxx7ZjO8eRjY1qo2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        208
      ],
      "id": "d231867e-359b-4128-a0a3-2ff782bbfe70",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7lrjz13Vz5j2vlBT",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e780641-292b-48e0-9bbf-d1988494acf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d9804d89ff292d15cbc5cc31a2e6b64af79f15ae7f1cafb57de5ca32c98b3317"
  },
  "id": "lRNgf6QS36mHeyw8",
  "tags": []
}